<div class="single-thread" *ngIf="threadService.showOneThread && thread">
  <h1>{{thread.title}} <span>by {{thread._author.username}} on {{thread.date | date: 'short'}}</span></h1>
  <p>{{thread.content}}</p>
  <div class="replies" >
    <h2>Replies</h2>
    <div class="reply" *ngFor="let reply of thread.replies">
      {{reply._author.username}} said {{reply.content}} <span>on {{reply.date | date:short}}</span>
    </div>
  </div>
  <router-outlet></router-outlet>
  <button class="btn btn-secondary" (click)="backHome()">Back</button>
</div>