<div class="container">
    <div class="row" *ngIf="userSessionService.user">
        <h2>{{userSessionService.user.username}} you are log in!</h2>
        <button (click)="logOut()" type="submit" class="btn btn-primary btn-lg btn-block">Log Out</button>
    </div>
    
    <div class="row" *ngIf="!userSessionService.user">
        <h2>Log In</h2>
        <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Username</label>
            <input type="text" [(ngModel)]="logInInfo.username" class="form-control" placeholder="Username" name ="username">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Pasword</label>
            <input type="password" [(ngModel)]="logInInfo.password" class="form-control" placeholder="password" name="password">
        </div>
        <button (click)="logIn()" type="submit" class="btn btn-primary btn-lg btn-block">Log In</button>
        </form>
    </div>

    <a [routerLink]="['/home']" class="btn btn-primary">Back Home</a>
</div>
