h2{
  background: teal;
  padding: 5px 10px;
  color: aquamarine;
  margin: 40px 10px 20px 10px;
}
.thread{
  border: 1px solid aquamarine;
  margin: 10px;
  padding: 10px;
}
.thread h3{
  margin: 5px;
}
.thread p{
  margin: 3px 5px;
}
.thread small{
  color: teal;
}