<a [routerLink]="['/home']" class="btn btn-danger">Home</a>

<div class="container">
  <div *ngIf="thread">
      <h1>{{thread.title}}</h1>
      <h2>Author:
        <span>{{thread._author.username}}</span>
      </h2>
      <p>{{thread.content}}</p>

    <div *ngIf="sessionService.user">
      <h3>Reply:</h3>
      <form>
        <div class="form-group">
          <textarea name="content" cols="30" rows="10" [(ngModel)]="replyInfo.content" class="form-control" placeholder="Comment"></textarea>
        </div>
        <button (click)="newReply(thread._id)" class="btn btn-primary btn-lg btn-block">New Reply</button>
      </form>
    </div>

    <div *ngFor="let e of thread.replies">
      <p>{{e._author.username}} - {{e.date | date:"dd/MM/yyyy" }}</p>
      <p>{{e.content}}</p>
      <hr>
    </div>
  </div>
</div>