<div class="container">
  <div class="row">
  <h3 class="center-align">SIGN UP</h3>
    <div class="col s6 ">
      <form method="POST" >
        <div class="input">
          <label for="username">Username</label>
          <input type="text" [(ngModel)]="username" name="username" required>
        </div>

        <div class="input">
          <label for="email">Email</label>
          <input type="text" [(ngModel)]="email" name="email" required>
        </div>

        <div class="input">
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="password" name="password" required>
        </div>

        <p class="center-align">
          <button (click)="signup(username,email,password)"class="btn btn-primary" type="submit">Sign up</button>
        </p>

      </form>

    </div>
  </div>
</div>