.container{
    margin-top: 25px;
}
h1{
    color: palevioletred;
    text-decoration-line: underline;
}
h2{
    color: grey;
}
h5{
    font-style: italic;
}
.btn-outline-secondary{
    background-color: palevioletred;
    color:white;
}