<p>
  ThreadsList works!
</p>
<div class="container">
  <div class="row" *ngIf="sessionService.user">

    <div class="col-md-7">
      <h1>{{sessionService.user.username}}´s threads</h1>
    </div>
    <div class="col-md-5 text-right">
      <a [routerLink]="['/threads/new']">New Thread</a>
      <button (click)="sessionService.logout().subscribe()" class="btn">Logout</button>
    </div>

  </div>
  <div *ngIf="!sessionService.user" class="col-md-12">
    <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
    <a [routerLink]="['/signup']" class="btn btn-primary">Signup</a>
  </div>


  <div *ngIf="threads" class="thread-container">
    <div *ngFor="let t of threads">
      <h2>
        <a [routerLink]="['/threads',t._id]">{{t.title}}</a>
      </h2>
      <h3>Author: {{t._author.username}}</h3>
      <h3>Date: {{t.date | date: "dd/MM/yyyy"}}</h3>
    </div>
  </div>
</div>