<div *ngIf="authService.user">
  <h2>{{userSessionService.user.username}} you are log in!</h2>
  <button (click)="logOut()" type="submit">Log Out</button>
</div>

<div *ngIf="!authService.user">
  <h2>Sign Up</h2>  
  <form>
    <div>
      <label for="username">Username</label>
      <input type="text" [(ngModel)]="signUpData.username" placeholder="Username" name="username">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" [(ngModel)]="signUpData.email" placeholder="Email" name="email">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="signUpData.password" placeholder="password" name="password">
    </div>
    <button type="submit" (click)="signUp()">Sign up</button>
  </form>
</div>

<a [routerLink]="['/home']">Back Home</a>