<p>
  auth-login works!
</p>

<h1>Log In</h1>
<div class="container">
  <form>
    <div>
      <label for="username">Username</label>
      <input type="text" [(ngModel)]="username" class="form" placeholder="Username" name="username">
    </div>
    <div class="form">
      <label for="password">Pasword</label>
      <input type="password" [(ngModel)]="password" class="form" placeholder="password" name="password">
    </div>
    <button (click)="logIn()" type="button" class="btn btn-primary btn-lg btn-block">Log In</button>
  </form>
</div>
